* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
/*    color: #3E3E3E;*/
    color: #000 !important;
    font-family: "PTSans", sans-serif;
    text-size-adjust: 100%;

}

a {
    color: #1D407E;
    text-decoration: underline;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s
}

a:hover {
    color: #000;
    text-decoration: none;
}

b,
strong {
    font-weight: 600;
}

ul,
ol {
    margin: 0;
    padding: 0
}

li {
    list-style: none;
}
.content ul, .content ol {
    margin-left: 30px;
}

.content ol li {list-style-type: decimal; margin-bottom: 10px;}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-size: 30px;
    color: #1D407E;
    font-weight: 400;
    font-family: 'PT Sans Narrow';
}

h1 {
    font-size: 210%;
    margin: 20px 0 10px; 
}

h2 {
    font-size: 180%
}

h3 {
    font-size: 150%
}

h4 {
    font-size: 120%
}

input,
button,
textarea {
    font-family: inherit
}

main,
nav,
aside,
footer,
header {
    display: block
}

img,
fieldset {
    border: none
}

img {
    max-width: 100%;
    height: auto
}

.page-wrapper {
    width: 100%;
    min-height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 1200px;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.clr {
    clear: both;
    font-size: 0px;
    line-height: 0px
}

::selection {
    background: rgb(243, 243, 243);
    color: #000;
}

.content-box ul,
.content-box ol {
    margin: 15px 0px 15px 40px
}

.content-box ol li,
.content-box ul li {
    margin: 5px 0
}

.content-box p {
    margin: 10px 0;
    line-height: normal;
}

table {
    border-collapse: collapse
}

table td {
    padding: 8px 12px
}

table.table {
    width: 100%;
    margin: 10px 0
}

table.table td {
    border: 1px solid #b5d9ec
}

table.table .t-title {
    background: #e2eff7;
    text-align: center
}

table.table tr:nth-child(2n) {
    background: #f5f8fb
}

table.table tr:hover {
    background: #e2eff7
}

/*content*/
/*.content {min-height: calc(100vh - 497px);}*/