
.modul_scorn_all {
	padding: 10px 15px 10px 15px;
	=background: #f4f4f4 url( '_images/fon_main_1.png' ) left top repeat;
	color: #333;
	font: normal 14px arial, verdana, tahoma, helvetica, sans-serif;
}
.modul_scorn_all h1 {
	margin: 0px 0px 20px 0px;
	font-size: 20px;
	border-bottom: 1px solid #ddd;
}


.modul_scorn_all form {
	margin: 0px;
}



.clr {
	clear: both;
	font-size: 0px;
	line-height: 0px;
}







.topmenu {
	background: #000 url( '/manager/media/style/MODxRE/images/misc/headers.jpg' ) left bottom no-repeat;
	padding: 10px 0px 9px 20px;
	margin: 0px 0px 20px 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
	.topmenu ul {
		color: #dae4e5;
		text-decoration: none;
		padding: 0px;
		margin: 0px;
		list-style: none;
	}
		.topmenu ul li {
			padding: 0px;
			margin: 0px;
			float: left;
			border-right: 1px solid #849a9a;
		}
			.topmenu ul li a {
				color: #dae4e5;
				padding: 2px 15px 1px 15px;
				display: block;
				text-decoration: none;
				font-size: 14px;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
				.topmenu ul li a:hover {
					background: rgba( 255,255,255, 0.3 );
					color: #fff;
				}









.propitem {
	padding: 15px 15px;
	margin: 0px 10px 10px 0px;
	border: 1px solid #ccc;
	float: left;
	width: 444px;
}

.disabled {
	background: #ccc;
}







.catalogtree {
	
}
	.catalogtree .ctr_item {
		padding: 2px 0px;
		font-size: 12px;
	}
		.catalogtree .ctr_item span {
			cursor: pointer;
		}
			.catalogtree .ctr_item span:hover {
				color: #094fdd;
				text-decoration: underline;
			}
	.catalogtree .ctr_sub {
		padding: 0px 0px 5px 45px;
		display: none;
	}
	.catalogtree .ctr_sub_open {
		display: block;
	}
	.catalogtree .ctr_sub_disabled {
		opacity: 0.4;
	}
















