@font-face {
	font-family: "iconfont"
	src: url('tpl/fonts/iconfont/iconfont.woff2') format('woff2'),
		 url('tpl/fonts/iconfont/iconfont.woff') format('woff'),
		 url('tpl/fonts/iconfont/iconfont.ttf') format('truetype')
}


icon-arrow-right($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E001"
	}
}

icon-close($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E002"
	}
}

icon-controls($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E003"
	}
}

icon-database($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E004"
	}
}

icon-laboratory($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E005"
	}
}

icon-layers($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E006"
	}
}

icon-location($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E007"
	}
}

icon-mail($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E008"
	}
}

icon-menu($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E009"
	}
}

icon-monitoring($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E00A"
	}
}

icon-mouse($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E00B"
	}
}

icon-person($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E00C"
	}
}

icon-phone-call-2($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E00D"
	}
}

icon-phone-call($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E00E"
	}
}

icon-search($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E00F"
	}
}

icon-server($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E010"
	}
}

icon-settings($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E011"
	}
}

icon-stopwatch($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E012"
	}
}

icon-target($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E013"
	}
}

icon-tracebility($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E014"
	}
}

icon-volna($el = before) {
	&:{$el} {
		font-family: "iconfont"
		font-size: 1em
		line-height: 1em
		font-stretch: normal
		font-variant: normal
		font-weight: normal
		font-style: normal
		text-decoration: none
		text-transform: none
		content: "\E015"
	}
}
